---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import CarouselOfProjects from '../components/CarouselOfProjects.astro';
import BlogSection from '../components/BlogSection.astro';
import Counter from '../components/Counter.jsx';

import LogoImpulsaProyectosInmobiliarios from '../assets/Logo_Impulsa_Proyectos_Inmobiliarios.png'
import LogoAlianza from '../assets/Logo_Alianza.png'
import LogoBancodeBogota from '../assets/Logo_Banco_de_Bogota.png'
import LogoScotiabank from '../assets/Logo_Scotiabank.png'
import LogoCredicorp from '../assets/Logo_Credicorp.svg'
import iconWaze from "../assets/iconWaze.png";
import iconMaps from "../assets/iconMaps.png";

// Supports weights 100-900
import '@fontsource-variable/inter';
import ContactForm from '../components/ContactForm';
import Ubication from '../components/Ubication.astro';

const oficinaPrincipal = {
    nameUbication: "Oficina Principal",
    linkDirection: "https://maps.app.goo.gl/x7mnoptgnBSsD5JF9",
    direction: "Calle 98 # 22 - 64 Oficina 701",
    city: "Bogotá, Colombia",
    refPhone: "tel:+576017942134",
    phone: "(601) 794 2134",
    textWhatsapp: "WhatsApp: ",
    refWhatsApp: "https://wa.me/573176676375",
    whatsapp: "(317) 667 6375",
    textEmail: "Email: ",
    refEmail: "mailto:info@impulsacolombia.com.co",
    email: "info@impulsacolombia.com.co",
    imageWaze: iconWaze.src,
    refWaze:
      "https://www.waze.com/en/live-map/directions/co/bogota/bogota/cl.-98-22-64?place=ChIJR-Db4vqbP44RsIwNQZz6t0s",
    textWaze: "Llega con Waze",
    imageMaps: iconMaps.src,
    refMaps: "https://maps.app.goo.gl/x7mnoptgnBSsD5JF9",
    textMaps: "Llega con Maps",
    iframe: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.483593473529!2d-74.0558533!3d4.6856966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9aea84a8a0bd%3A0xc7c2bc3978f19d3a!2sCl.%2098%20%2322-64%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1695653019205!5m2!1ses!2sco",
  };

---

<Layout title="Impulsa Colombia | Proyectos Inmobiliarios">

	<main class=" bg-shark-900">
		<!--<Banner />-->
		<section class="max-w-7xl mx-auto pt-32 px-4 xl:px-6">
			<div class="flex flex-col justify-around items-center">
			  <div class="flex flex-col justify-center items-start w-full">
				<h1 class="text-4xl md:text-6xl font-bold text-white text-center w-full md:pt-10">
				  IMPULSA EN EL MUNDO
				</h1>
				<p class="text-shark-300 text-base md:text-xl font-normal w-full py-5 text-center">
				  Impulsa Colombia forma parte de un grupo Internacional de empresas
				  conformado por un equipo de profesionales que dan vida a la
				  filosofía de la compañía: Máxima Calidad, Profesionalidad,
				  Servicio impecable al cliente y riguroso cumplimiento de los
				  plazos en todas las áreas de trabajo donde participamos.
				</p>
				<p class="text-shark-200 text-xl md:text-2xl font-normal w-full py-5 text-center">
				  ¡Esa es nuestra fórmula del éxito!
				</p>
				<div class="w-full grid grid-cols-3 gap-6 justify-center items-center mt-10">
				  <div class="col-span-3 md:col-span-1">
					<h2 class="text-2xl md:4xl font-semibold text-white pb-3 text-center">
					  Viviendas entregadas en el mundo
					</h2>
					<p class="text-xl md:text-3xl font-bold text-center text-amber-400 pb-2">
					  Más de 18 mil viviendas
					</p>
				  </div>
				  <div class="col-span-3 md:col-span-1">
					<h2 class="text-2xl md:4xl font-semibold text-white pb-3 text-center">
					  Viviendas entregadas en España
					</h2>
					<Counter client:load end={17610} />
				  </div>
				  <div class="col-span-3 md:col-span-1">
					<h2 class="text-2xl md:4xl font-semibold text-white pb-3 text-center">
					  Viviendas entregadas en Colombia
					</h2>
					<Counter client:load end={866} />
				  </div>
				</div>
			  </div>
			  {/* 
						<div class='flex justify-center items-center col-span-1 md:col-span-2'>
							<div class=' bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 border border-gray-100 rounded-t-full rounded-b-[73rem] h-[400px] md:h-[800px] object-cover'>
								<img src={Referencia} loading="lazy" class='p-5 rounded-t-full rounded-b-[73rem] h-full object-cover'></img>
							</div>
						</div>
						*/}
			</div>
			<div class="mt-12 grid grid-cols-3 sm:grid-cols-5 bg-white rounded-t-md bor py-12">
			  <div class="col-span-5 lg:col-span-1 p-4 grayscale transition duration-200 hover:grayscale-0">
				<a href="https://impulsaproyectos.com/" target="_blank">
				  <img
					src={LogoImpulsaProyectosInmobiliarios.src}
					class="h-12 w-auto mx-auto"
					loading="lazy"
					alt="Logo Impulsa Proyectos Inmobiliarios"
					width=""
					height=""
				  />
				</a>
			  </div>
			  <div class="col-span-5 lg:col-span-1 p-4 grayscale transition duration-200 hover:grayscale-0">
				<a href="https://www.alianza.com.co/" target="_blank">
				  <img
					src={LogoAlianza.src}
					class="h-12 w-auto mx-auto"
					loading="lazy"
					alt="Logo Alianza Fiduciaria"
					width=""
					height=""
				  />
				</a>
			  </div>
			  <div class="col-span-5 lg:col-span-1 p-4 grayscale transition duration-200 hover:grayscale-0">
				<a href="https://www.bancodebogota.com/" target="_blank">
				  <img
					src={LogoBancodeBogota.src}
					class="h-12 w-auto mx-auto"
					loading="lazy"
					alt="Logo Banco de Bogotá"
					width=""
					height=""
				  />
				</a>
			  </div>
			  <div class="col-span-5 lg:col-span-1 p-4 grayscale transition duration-200 hover:grayscale-0">
				<a href="https://www.scotiabank.com/" target="_blank">
				  <img
					src={LogoScotiabank.src}
					class="h-12 w-auto m-auto"
					loading="lazy"
					alt="Logo Scotiabak Colpatria"
					width=""
					height=""
				  />
				</a>
			  </div>
			  <div class="col-span-5 lg:col-span-1 p-4 grayscale transition duration-200 hover:grayscale-0">
				<a
				  href="https://www.credicorpcapital.com/Colombia/Paginas/NHome.aspx"
				  target="_blank"
				>
				  <img
					src={LogoCredicorp.src}
					class="h-12 w-60 lg:w-auto mx-auto"
					loading="lazy"
					alt="Logo Credicorp Fiduciaria"
					width=""
					height=""
				  />
				</a>
			  </div>
			</div>
		  </div>
		</section>
		<section class="pt-28 pb-12 bg-white">
			<div id="projects" class="max-w-7xl mx-auto px-4 xl:px-6">
				<div class="flex flex-col">
				  <p class=" text-xl md:text-2xl font-bold text-amber-600">
					Nuestros{" "}
				  </p>
				  <h1 class="text-4xl md:text-5xl font-bold text-shark-900 -mt-2 -ml-0.5 mb-12">
					Proyectos
				  </h1>
				</div>
				<CarouselOfProjects />
			  </div>
		</section>
		<section id="blog" class="max-w-7xl mx-auto px-4 xl:px-6 py-12">
			<p class=" text-xl md:text-2xl font-bold text-amber-600">
			  Sala de{" "}
			</p>
			<h1 class="text-4xl md:text-5xl font-bold text-white -mt-2 -ml-0.5 mb-12">
			  Prensa
			</h1>
			<BlogSection />
		</section>
		<section class="bg-white">
			<div class="max-w-7xl mx-auto px-4 xl:px-6 py-12">
				<p class=" text-xl md:text-2xl font-bold text-amber-600">
					Ubicanos{" "}
				</p>
				<h1 class="text-4xl md:text-5xl font-bold text-shark-900 -mt-2 -ml-0.5 mb-12">
					¡Estamos para ayudarte!
				</h1>
				<div class="flex justify-between items-center">
					<Ubication 
						nameUbication={oficinaPrincipal.nameUbication},
						linkDirection={oficinaPrincipal.linkDirection},
						direction={oficinaPrincipal.direction},
						city={oficinaPrincipal.city},
						refPhone={oficinaPrincipal.refPhone},
						phone={oficinaPrincipal.phone},
						textWhatsapp={oficinaPrincipal.textWhatsapp},
						refWhatsApp={oficinaPrincipal.refWhatsApp},
						whatsapp={oficinaPrincipal.whatsapp},
						textEmail={oficinaPrincipal.textEmail},
						refEmail={oficinaPrincipal.refEmail},
						email={oficinaPrincipal.email},
						iconWaze={oficinaPrincipal.imageWaze},
						wazeLink={oficinaPrincipal.refWaze},
						textWaze={oficinaPrincipal.textWaze},
						iconMaps={oficinaPrincipal.imageMaps},
						mapsLink={oficinaPrincipal.refMaps},
						textMaps={oficinaPrincipal.textMaps},
						iframe={oficinaPrincipal.iframe}
					/>
				</div>
			</div>
		</section>
		<ContactForm client:load/>
	</main>
</Layout>

<style>
	body {
  font-family: 'Inter Variable', sans-serif;
}
</style>

